body {
	margin: 0;
	width: 100%;
	background: #141414;
	--hue-shift-amount: 0deg;
}

.test-shape {
	background: var(--animated-item-color);
	fill: var(--animated-item-color);
/* 	animation: glow-animation 3s ease-in-out alternate infinite; */
	filter: drop-shadow(0 0 2px var(--secondary-color, var(--animated-item-color))) hue-rotate(var(--hue-shift-amount));
	display: inline-block;
}

div.test-shape {
	width: 200px;
	height: 200px;
	border-radius: 100%;
}

@keyframes glow-animation {
	0% {
		filter: saturate(.7) brightness(1.1) drop-shadow(0 0 0 var(--secondary-color, var(--animated-item-color))) hue-rotate(var(--hue-shift-amount));
	}
	100% {
		filter: saturate(1) brightness(1) drop-shadow(0 0 15px var(--secondary-color, var(--animated-item-color))) hue-rotate(var(--hue-shift-amount));
	}
}