@charset "ISO-8859-1";

:root {
	font-family: Arial, sans-serif;
	scroll-behavior: smooth;
	--theme-blue: #0301AD;
	--theme-orange: #FF4001;
}

body {
	background: #090909;
	color: lightgray;
	padding: 20px;
}

h1,h2,h3,h4,h5,h6 {
	color: #FF4001;
}
h1,h2{
	font-family: Times New Roman, serif;
	border-bottom: solid 1px currentcolor;
}

a:link {
	color: white;
}
a:visited {
	color: #B75F01;
}
a:active {
	color: var(--theme-orange);
}
::selection {
	background: gold;
	color: var(--theme-orange);
}

/* Code */
code {/* Inline */
	background-color: #ffffff2a;
	border-radius: 4px;
	border: 1px solid #444;
	white-space: nowrap;
	padding: 2px;
	display: inline-block;
	tab-size: 4;
}
pre {
	display: block;
	min-width: 600px;/* Default min-width of pre blocks. */
	background-color: #ffffff2a;
	padding: 5px;
	border-radius: 10px;
	border: 1px solid #444;
	overflow-x: auto;
	tab-size: 4;
}
pre>code {/* Codeblock */
	background-color: unset;
	border-radius: unset;
	border: unset;
	padding: unset;
	white-space: unset;
}