@charset "ISO-8859-1";

:root {
	font-family: Arial, sans-serif;
	scroll-behavior: smooth;
	--theme-blue: #0301AD;
	--theme-orange: #FF4001;
}

body {
	background: #090909;
	color: lightgray;
	padding: 20px;
}

h1,h2,h3,h4,h5,h6 {
	color: #FF4001;
}
h1,h2{
	font-family: Times New Roman, serif;
	border-bottom: solid 1px currentcolor;
}

a:link {
	color: white;
}
a:visited {
	color: #B75F01;
}
a:active {
	color: var(--theme-orange);
}